{% extends 'issue/base.html' %}

{% block menu %}
<a class="navbar-brand" href="{% url 'issue_add' %}">Add IssueTrecer</a>
    <a class="navbar-brand" href="{% url 'create_status' %}">Add Statuses</a>
    <a class="navbar-brand" href="{% url 'status_view' %}">Statuses</a>
     <a class="navbar-brand" href="{% url 'type_create' %}">Add Type</a>
    <a class="navbar-brand" href="{% url 'type_view' %}">Types</a>

{% endblock %}

{% block content %}
<h1>IssueTracker:</h1>
<hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% for issue in issues %}
<div class="card">
    <div class="card-body">
         <p style="display:inline "><a href="{% url 'issue_view' issue.pk %}"><i class="fas fa-book-open"></i></a></p>
        <p style="display:inline "><a href="{% url 'update' issue.pk %}"><i class="fas fa-file-signature"></i></a></p>
        <p style="display:inline "><a href="{% url 'delete' issue.pk %}"><i class="fas fa-trash"></i></a></p>
        <h5 class="card-title" style="display:inline ">Краткое описание:{{ issue.summary }}</h5>
        <p class="card-text">Описание : {{ issue.description }}</p>
        <p class="card-text">Статус: {{ issue.status }}</p>
        <p class="card-text">Тип: {{ issue.type }}</p>
    </div>
</div>
<h2></h2>
<hr/>
{% endfor %}
      {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
