{% extends 'issue/base.html' %}
{% block menu %}
    {% if user.is_authenticated %}
   <li><a class="nav-item nav-link active" href="{% url 'webapp:update' issue.pk %}">Edit</a></li>
   <li><a class="nav-item nav-link active" href="{% url 'webapp:delete' issue.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}
{% block title %}{{ issue.title }}{% endblock %}
{% block content %}
    <h1>Краткое описание:{{issue.summary}}</h1>
    <p>Описание:{{ issue.description}} </p>
    <p>Статус: {{ issue.status}}</p>
    <p>Тип: {{ issue.type}}</p>
{% endblock %}
