{% extends 'issue/base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block menu %}
    <li><a href="{% url "accounts:detail" user_obj.pk %}" class="nav-link">Назад</a></li>
    <li><a href="{% url "accounts:update" user_obj.pk %}" class="nav-link">Редактирование личных данных</a></li>
{% endblock %}
{% block content %}
    <h1>Смена пароля</h1>
    <form action="{% url "accounts:password_change" user_obj.pk %}" method="post">
        {% include 'partial/issue_forms.html' with button_text='Update' %}
    </form>
{% endblock %}