{% extends 'issue/base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu_links %}
    <li><a href="{% url "accounts:update" user_obj.pk %}">Редактировать</a></li>
    <li><a href="{% url "accounts:password_change" user_obj.pk %}">Смена пароля</a></li>
{% endblock %}
{% block content %}
    <h1>Личный кабинет</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>
{% endblock %}


