{% extends 'issue/base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu %}
    {% if user.pk == user_obj.pk %}
    <li><a href="{% url "accounts:update" user_obj.pk %}" class="nav-link">Редактировать данные</a></li>
    <li><a href="{% url "accounts:password_change" user_obj.pk %}" class="nav-link">Смена пароля</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Личный кабинет</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>
{% endblock %}



