{% extends 'issue/base.html' %}
{% block menu %}
   <li><a href="{% url 'webapp:update_project' project.pk %}">Edit</a></li>
   <li><a href="{% url 'webapp:delete_project' project.pk %}">Delete</a></li>
{% endblock %}
{% block title %}{{ project.title }}{% endblock %}\
    {% include 'partial/simple_search.html' %}
{% block content %}
    <a href="{% url 'webapp:issue_add' project.pk%}">Create issue</a>
    <h1>Краткое описание:{{project.name_project}}</h1>
    <p>Описание:{{ project.description_project}} </p>
    {% for issues in project.issue_project.all %}
        <h2>Задачи: {{ issues.summary }}</h2>
    {% endfor %}
{% endblock %}