{% extends 'issue/base.html' %}
{% block menu %}
   <li><a class="navbar-brand" href="{% url 'webapp:create_project'%}">Add Project</a></li>
{% endblock %}
{% block content %}
   <h1>Projects:</h1>
   <hr/>
    {% include 'partial/simple_search.html' %}
    <form method="POST" action="{% url "webapp:index"  %}">
        {% csrf_token %}
    {% if is_paginated %}
            {% include 'partial/pagination.html' %}
    {% endif %}
   {% for project in projects %}
       <h2>Имя проекта : {{ project.name_project }}</h2>
       <h2>Описание : {{ project.description_project }}</h2>
        <h2>дата создания  : {{ project.created_at }}</h2>



       <a href="{% url 'webapp:update_project' project.pk %}"><i class="fas fa-file-signature"></i></a>
       <a href="{% url 'webapp:delete_project' project.pk %}"><i class="fas fa-trash"></i></a>
       <a href="{% url 'webapp:projects' project.pk %}"><i class="fas fa-book-open"></i></a>
       <hr/>
   {% endfor %}
{% endblock %}